html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

h1 {
	color: #ff3e00;
	font-size: 3em;
}

body {
	display: flex; /* optional */
	flex-direction: column; /* optional */
	background-color: #202020;
}
